
cmdmap : entry :
cmdmap <Tab> pass
cmdmap ; entry ;
cmdmap / entry /
cmdmap ? entry ?
cmdmap [[ go prev
cmdmap ]] go next
cmdmap r reload
cmdmap R reload!
cmdmap <space> scroll v + 1 p
cmdmap <Page_Down> scroll v + 1 p
cmdmap <Page_Up> scroll v - 1 p
cmdmap <Up> scroll v - 1
cmdmap k scroll v - 1
cmdmap <Down> scroll v + 1
cmdmap j scroll v + 1
cmdmap <Home> scroll v = 0
cmdmap gg scroll v = 0
cmdmap <End> scroll v = 32768 p
cmdmap G scroll v = 32768 p
cmdmap <BackSpace> go back
cmdmap H go back
cmdmap L go forth
cmdmap p paste
cmdmap P tabpaste
cmdmap y yank
cmdmap n next
cmdmap N next!
cmdmap t entry ":tabnew "
cmdmap o entry ":open "
cmdmap f entry ;f
cmdmap F entry ;F
cmdmap i insert
cmdmap u undo
cmdmap d q
cmdmap gt action TabNext
cmdmap gT action TabPrevious
cmdmap <CR> submit

set hintstyle background-color: #59FF00; border: 2px solid #4A6600; color: black; font-size: 9px; line-height: 9px; font-weight: bold; margin: 0px; padding: 1px; z-index: 1000; border-radius: 6px;
set hint_default a.href input select textarea button .onclick
set hint_tabnew a.href
set hint_yank a.href a.name

set go_next ^>$, ^>>$, ^>>>$, ^next$, next, *[>»], ^далее, ^след[.у], next, >
set go_prev ^<$, ^<<$, ^<<<$, ^prev$, ^previous, prev[.]? *[<«], previous *[<«], ^назад, ^пред[.ы], previous, <


source ~/.midoratorrc

